.main
  .main__tweets
    tweets
    .main__tweets__user-image
      -# %img{src:"user.png"}
    .main__tweets__user-date
      date
    .main__tweets__content
      content
    .main__tweets__icon
      icon